{
  "presets": [
    "latest"
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-vue-jsx",
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}