$hover-color: #8391a5;
$base-color: #20a0ff;
$border-color: #bfcbd9;
:global {
    html {
    }
    *::-webkit-scrollbar {
        background: transparent;
        width: 4px;
        display: block;
    }
    *::-webkit-scrollbar-thumb {
        background-color: #999;
        border-radius: 10px;
    }
    .ui-button {
        display: inline-block;
        line-height: 1;
        white-space: nowrap;
        cursor: pointer;
        background: #fff;
        border: 1px solid #bfcbd9;
        color: #1f2d3d;
        -webkit-appearance: none;
        text-align: center;
        box-sizing: border-box;
        outline: none;
        margin: 0;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        padding: 10px 15px;
        font-size: 14px;
        &:hover {
            border-color: $base-color;
            color: $base-color;
        }
        &.disabled {
            cursor: not-allowed;
            color: #f5f5f5;
            border-color: #f5f5f5;
        }
    }
    .ui-button-text {
        line-height: 1;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        color: #1f2d3d;
        border: none;
        background: none;
        &:hover {
            color: $base-color;
        }
        &.disabled {
            cursor: not-allowed;
            color: #f5f5f5;
        }
    }
    .ui-tag {
        height: 24px;
        line-height: 24px;
        box-sizing: border-box;
        display: inline-block;
        margin: 2px 0 2px 6px;
        background-color: rgba(32, 160, 255, .1);
        border-color: rgba(32, 160, 255, .2);
        color: #20a0ff;
        border: 1px solid;
        padding: 0 5px;
        font-size: 12px;
        >a {
            text-decoration: none;
        }
        .kz-e-close,
        .kz-e-add {
            margin-left: 2px;
            transform: scale(.8);
            display: inline-block;
        }
    }
    .ui-ripple {
        position: relative;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 200px;
            height: 200px;
            border-radius: 100%;
            transition: all 1s;
            background: #d8d8d8;
            opacity: 0;
            transform: translate(-50%, -50%);
        }
        &:active::before {
            width: 0;
            height: 0;
            transition: all 0s;
            opacity: 1;
        }
    }
}