$hover-color: #8391a5;
$base-color: #20a0ff;
$border-color: #bfcbd9;
:global {
    .ui-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: none;
        border: 1px solid $border-color;
        box-sizing: border-box;
        color: #1f2d3d;
        font-size: inherit;
        height: 30px;
        line-height: 1;
        outline: none;
        padding: 3px 10px;
        &:hover {
            border-color: $hover-color
        }
        &:focus {
            border-color: $base-color
        }
    }
    .ui-textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: none;
        border: 1px solid $border-color;
        box-sizing: border-box;
        color: #1f2d3d;
        display: block;
        font-size: inherit;
        height: 100px;
        line-height: 1;
        outline: none;
        padding: 6px 10px;
        width: 100%;
        &:hover {
            border-color: $hover-color
        }
        &:focus {
            border-color: $base-color
        }
    }
    form {
        label {
            display: inline-block;
            width: 80px;
        }
        label+input {
            width: calc(100% - 86px);
            display: inline-block;
            margin-bottom: 15px;
        }
    }
    .ui-table {
        border-collapse: collapse;
        text-align: left;
        font-size: 14px;
        color: #1f2d3d;
        margin-bottom:20px;
        >thead {
            background: #eef1f6;
        }
        a {
            text-decoration: none;
        }
        a:hover {
            color:#20a0ff;
        }
        th{
            padding-left: 18px;
            box-sizing: border-box;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            word-break: break-all;
            line-height: 24px;
            min-width: 100px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        td{
            padding: 10px 0;

            max-width:613px;
            overflow:hidden;

        }
        tr {
            border: 1px solid #dfe6ec;
        }
        tbody tr:nth-child(2n){
            background-color: #fff;
        }
        tbody tr:nth-child(2n+1){
            background-color: #fafafa;
        }
        tbody td div{
            box-sizing: border-box;
            width:100%;
            overflow: hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
            text-overflow: ellipsis;
            white-space: normal;
            word-break: break-all;
            line-height: 24px;
            padding-left: 18px;
            padding-right: 18px;
            text-align: left;
        }
        
    }
}