html
    head
        meta(charset="utf-8")
        title vue
        link(rel="stylesheet" type="text/css" href="//kzcdn.itc.cn/static/icons/Kedit-font/style.css")
    body
        #app
        script.
            window._user_info = JSON.parse('!{user_info}');
        script(type="text/javascript", src="/build/index.bundle.js")